<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">day</th>
      <th scope="col">本日</th>
      <th scope="col">前日</th>
      <th scope="col">前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>
         <%= book_today.count %>件
      </td>
      <td>
         <%= book_yesterday.count %>件
      </td>
      <td>
        <% if book_yesterday.count == 0 %>
          <%= (book_today.count * 100) %>%
        <% else %>
          <% @day_before = book_today.count / book_yesterday.count.to_f %>
          <%= (@day_before * 100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">week</th>
      <th scope="col">今週</th>
      <th scope="col">前週</th>
      <th scope="col">前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>
        <%= book_week.count %>件
      </td>
      <td>
        <%= book_lastweek.count %>件
      </td>
      <td>
        <% if book_lastweek.count == 0 %>
          <%= (book_week.count * 100) %>%
        <% else %>
          <% @week_before = book_week.count / book_lastweek.count.to_f %>
          <%= (@week_before * 100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>